<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.school.ecallowa.nyobora" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".mainscreens.MainScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mainscreens.MainScreen"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mainscreens.Person" >
        </activity>
        <activity android:name=".mainscreens.Settings" >
        </activity>
        <activity android:name=".mainscreens.Language" >
        </activity>
        <activity android:name=".mainscreens.ThingsToDo" >
        </activity>
        <activity android:name=".localcontent.Saved" >
        </activity>
        <activity android:name=".selections.LanguageSelection" >
        </activity>
        <activity android:name=".person.Forum" >
        </activity>
        <activity android:name=".person.Profile" >
        </activity>
        <activity android:name=".person.PersonsAround" >
        </activity>
        <activity android:name=".localcontent.Connections" >
        </activity>
        <activity android:name=".selections.ThingsToDoSelection" >
        </activity>
        <activity android:name=".usergeneratedcontent.CreateAnEvent" >
        </activity>
    </application>

</manifest>
